<div class="row">
  <div class="col-6">
      <div class="form">
        <div class="form-group">
            <label for="usr">Nombre</label>
            <input type="text" [(ngModel)] = "datosHijo.Nombre" class="form-control">
        </div>
        <div class="form-group">
            <label for="usr">Apellido</label>
            <input type="text" [(ngModel)] = "datosHijo.Apellido" class="form-control">
        </div>
        <div class="form-group">
            <label for="usr">Edad</label>
            <input type="text" [(ngModel)] = "datosHijo.Edad" class="form-control">
        </div>
        <div class="form-group">
            <label for="usr">Documento</label>
            <input type="text" [(ngModel)] = "datosHijo.Documento" class="form-control">
        </div>
        <button type="button" (click) = "eventoAngular()" class="btn btn-primary btn-block">Evento Angular</button>
      </div>
  </div>
  <div class="col-6">
      Contenido de la Sección 2 contenido de datos desde el Padre:
      <br>
      Nombre: {{ datosHijo.Nombre }}
      <br>
      Apellido: {{ datosHijo.Apellido }}
      <br>
      Edad: {{ datosHijo.Edad }}
      <br>
      Documento: {{ datosHijo.Documento }}
  </div> 
</div> 
