<h1>Ejemplos del Curso</h1>
<div class="row" id="seccion1">
   <div class="col-12">
      <h2>Ejemplo de Data Binding:</h2>
      <app-data-binding [propiedadHijo]="datos"></app-data-binding>
   </div>
</div>
<div class="row" id="seccion2">
   <div class="col-12">
      <h2>Ejemplo de Directivas:</h2>
      <app-directivas></app-directivas>
   </div>
</div>
<div class="row" id="seccion3">
   <div class="col-12">
      <h2>Ejemplo de Pipes:</h2>
      <app-pipes></app-pipes>
   </div>
</div>
<div class="row" id="seccion4">
   <div class="col-12">
      <h2>Ejemplo de Routing:</h2>
      <app-routing></app-routing>
   </div>
</div>