<div class="row">
  <div class="col-10">
    <div *ngFor="let noticia of noticias">        
        <div *ngIf="noticia.categoria.codigo == 1; else opcion2" class="row" style="margin-top: 10px">
          <div class="col-4">
              <img style="width: 380px" src="{{ noticia.imagen }}" />
          </div>
          <div class="col-8">
              <h5>{{ noticia.titulo }}</h5>
              <p>{{ noticia.texto }}</p>
          </div>
        </div>
        <ng-template #opcion2>
          <div class="row" style="margin-top: 10px">
              <div class="col-8">
                <h5>{{ noticia.titulo }}</h5>
                <p>{{ noticia.texto }}</p>
              </div>
              <div class="col-4">
                <img style="width: 380px" src="{{ noticia.imagen }}" />
              </div>
          </div>
        </ng-template>
    </div>
  </div>
  <div class="col-2">
    <div class="form-group">
        <label for="categoria">Categoría</label>
        <select class="form-control" id="selectorNoticias" (change) = "eventoSelectorNoticias($event)">
          <option *ngFor="let categoria of categorias" value="{{ categoria.codigo }}">{{ categoria.nombre }}</option>
        </select>
    </div>
  </div>
</div>